.cover__image {
  margin: 0 auto;
  width: 100%;
  aspect-ratio: 1184/740;
  background-image: url('./../../../images/travel.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: #FFFFFF;
}

.cover__image::before {
  content: " ";
  display: block;
  background-color: #2a2c2f;
  opacity: .3;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  transition: opacity .07s ease-out;
}

.cover__image:hover::before {
  opacity: .8;
}


/* @media screen and (max-width: 1279px) {
  .cover__image {
    width: 1024px;
    min-height: 640px;
  }
} */

/* @media screen and (max-width: 1023px) {
  .cover__image {
    width: 768px;
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__image {
    width: 320px;
    min-height: 200px;
  }
} */
