.cover__image {
  width: 1184px;
  height: 740px;
  background-image: url('/../../images/travel.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: #FFFFFF;
}

.cover__image:before {
  content: " ";
  display: block;
  background-color: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
}

.cover__image:hover:before {
  opacity: 0.8;
}
