.place {
  margin: 0 auto;
  display: grid;
  width: 100%;
  grid-template-columns: 47% 49%;
  grid-template-rows: auto;
  gap: 48px 40px;
  padding-bottom: 80px;
  justify-content: center;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .place {
    gap: 48px 32px;
    padding-bottom: 83px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    gap: 48px 28px;
    padding-bottom: 73px;
  }
  .place:first-child .place__title{
    padding-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 100%;
    gap: 32px;
    padding-bottom: 50px;
  }
}
