.footer {
  display: flex;
  margin: 0 auto;
  padding: 0 48px 24px;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    display: block;
    padding-left: 16px;
    padding-right: 16px;
  }
}
