.footer {
  margin: 0 auto 24px;
  padding-top: 92px;
  max-width: calc(100% - 2*48px);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-top: 88px;
    max-width: calc(100% - 2*24px);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    display: block;
    padding-top: 64px;
    max-width: calc(100% - 2*16px);
  }
}
