.photos {
  margin: 0 auto 92px;
  padding-left: 48px;
  padding-right: 48px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .photos {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 87px;
  }
}

@media screen and (max-width: 767px) {
  .photos {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 64px;
  }
}
